<script>
  import { Router, Route, createHistory } from "svelte-navigator";
  import Intro from "./Intro.svelte";
  import createHashSource from "./lib/hashHistory";
  import Player from "./Player.svelte";

  // @ts-ignore
  const history = createHistory(createHashSource());
</script>

<Router {history}>
  <Route path="/">
    <Intro />
  </Route>
  <Route path="x/:videoId/:audioId" let:params>
    <Player videoId={params.videoId} audioId={params.audioId} />
  </Route>
</Router>

<style>
  @import url("https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap");

  :root {
    font-family: "Kdam Thmor Pro", sans-serif;
    font-size: 20px;
    background-color: black;
    color: white;
  }
</style>
